[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
flask-restful = "*"
flask-cors = "*"
python-dotenv = "*"
pymongo = "==3.6"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.9"
