.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  
  .preloader > div {
    background-color: #72c2a1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    animation: stretchdelay 0.7s infinite ease-in-out;
}

@keyframes stretchdelay {
 0%, 40%, 100% { 
      transform: translateY(0px);
 }
 20% {
      transform: translateY(-10px);
 }
}
.preloader-text{
  color:#72c2a1;
}
.preloader .circ1 {
  animation-delay: 0;
}

.preloader .circ2 {
  animation-delay: 0.1s;
}

.preloader .circ3 {
  animation-delay: 0.2s;
}

.preloader .circ4 {
  animation-delay: 0.3s;
}
.delete-button {
  color: white;
  border-radius: 0.5rem;
  height: 27px;
  width: 27px;
  padding-top: 0;
  background-color: rgb(217, 87, 70);
  border: none;
  margin-top: 5px;
}
.delete-button:hover {
  background-color: rgb(181, 79, 66);
}