<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Pong Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/template.css">
</head>

<body style="padding-top: 100px;" class="overflow-hidden">

    <div class="container-fluid visually-hidden pt-5" id="preloader" style="position: absolute;top:0;background-color:rgba(0,0,0,0.5);" >
        <div class="row  justify-content-center text-center vh-100 vw-100 mt-5">
           
            <div class="preloader col-1 vw-100 d-flex justify-content-center mt-5" >
                <div class="circ1 mx-1"></div>
                <div class="circ2 mx-1"></div>
                <div class="circ3 mx-1"></div>
                <div class="circ4 mx-1"></div>
            </div>
                <h2 style="margin-top:-450px" class="preloader-text">等待對手連線</h2>
        </div>
    </div>

    <div class="container-fluid p-0 mt-5">
        <div class="row justify-content-between p-0 ms-0">
            <div class="col-3 p-0 m-0">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light p-0 shadow rounded box-shadow"
                    style="max-width: 280px;background-color:rgb(214, 234, 255)!important">
                    <a href="/"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                        <span class="fs-4">Information</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto" id="information">
                    </ul>
                </div>
            </div>
            <div class="col-6 p-0 d-inline-flex justify-content-around  " id="container">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    id="button" style="height: 50px;">
                    登入
                </button>
            </div>
            <div class="col-3 p-0 d-inline-flex justify-content-center" id="offset"></div>
            <!-- <div class="col-8 d-inline-flex justify-content-center" id="container"> -->

            <!-- </div> -->
        </div>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        Input Username

                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            id="close">Close</button>
                        <button type="button" class="btn btn-primary" onclick="connect()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/game.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
        <script src="/static/js/socket.js"></script>
        <script>
            window.onload = () => {
                document.getElementById('defaultCanvas0').style.display = 'none';

            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>