{% extends 'lobby.html' %}
{% block main_content %}
<div class="col-10 color_light_purple d-inline-flex justify-content-center pt-5 text-center pb-5">



    <div class="mt-5 col-6 p-5 card d-inline-flex justify-content-center text-start mb-5 shadow shadow-lg ">
        <div class="text-center h4 d-block ">
            <h4>
                Create A Game
            </h4>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label h6">遊戲名稱</label>
            <input type="text" class="form-control" id="game_name" name="game_name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label h6">作者</label>
            <input type="text" class="form-control" id="author" name="author">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label h6">遊戲說明</label>
            <input type="text" class="form-control" id="description"  name="description">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label h6">玩家人數</label>
            <input type="number" class="form-control" id="users_number" name="users_number" value='1'>
        </div>

        <div id="multiplayer-optioin" style="display: none;">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label h6">同步模式</label>
                <input type="text" class="form-control" id="sync_mode" name="sync_mode" aria-describedby="emailHelp" value=" ">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label h6">同步變數</label>
                <input type="text" class="form-control" id="sync_variables" name="sync_variables" value=" ">
            </div>
        </div>



        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label h6">上傳圖片</label>
            <input type="file" class="imgur form-control " id="" >
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label h6">上傳遊戲</label>

            <textarea class=" form-control "  id="code_file" name="code_file" >
            </textarea>
        </div>


        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label h6" for="exampleCheck1">同意條款</label>
        </div> -->

        <div class="mb-3 form-check">
            <button type="submit" class="btn btn-primary" onclick="upload_game()" style="width: 100%;">Submit</button>
        </div>







    <script src="/static/js/upload_game.js"></script>
    {% endblock main_content %}

{%block script%}
<script>
    var users_number = document.getElementById('users_number');
    users_number.addEventListener('change', () => {
        if (users_number.value == '1') {
            document.getElementById('multiplayer-optioin').style.display = 'none';
        } else {
            document.getElementById('multiplayer-optioin').style.display = 'block';

        }
    })
</script>
{%endblock script%}